<%- include("../partials/header") %>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">edit user</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                  </ol>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
  
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
             <div class="row">
                <div class="col-md-12">
                    <!-- general form elements disabled -->
                    <div class="card card-warning">
                      <div class="card-header">
                        <h3 class="card-title">edit user</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <form action="/admin/edit-user/<%= users.id %>" method="post" id="frm-edit-user">
                          <div class="row">
                            <div class="col-sm-6">
                              <!-- text input -->
                              <div class="form-group">
                                <label>name</label>
                                <input type="text" name="user_name" value="<%= users.name %>" class="form-control" placeholder="Enter ...">
                              </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                  <label>email</label>
                                  <input type="text" name="user_email" value="<%= users.email %>" class="form-control" placeholder="Enter ...">
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">
                                  <label>mobile</label>
                                  <input type="text" name="user_mobile" class="form-control" value="<%= users.mobile %>" placeholder="Enter ...">
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                  <label>gender</label>
                                  <select name="user_gender" class="form-control">
                                    <option <% if(users.gender == 'male'){ %> selected <% } %> value="male">male</option>
                                    <option <% if(users.gender == 'female'){ %> selected <% } %>  value="female">female</option>
                                  </select>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                                <!-- textarea -->
                                <div class="form-group">
                                  <label>address</label>
                                  <textarea name="user_addres" class="form-control" rows="3" placeholder="Enter ..."><%= users.address %></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!-- select -->
                                <div class="form-group">
                                  <label>status</label>
                                  <select name="user_status" class="form-control">
                                    <option <% if(users.status == '1'){ %> selected <% } %> value="1">active</option>
                                    <option <% if(users.status == '0'){ %> selected <% } %> value="0">deactive</option>
                                  </select>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            
                          </div>
                          <button class="btn btn-primary" type="submit">submit</button>
                        
                        </form>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- general form elements disabled -->
                    
                    <!-- /.card -->
                  </div>
             </div>
             
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
<%- include("../partials/footer") %>