<%- include("../partials/header") %>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark">users list</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">users list</li>
                  </ol>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
          <!-- /.content-header -->
  
          <!-- Main content -->
          <section class="content">
            <div class="container-fluid">
              <!-- Small boxes (Stat box) -->
              <div class="row">
                <div class="card col-md-12">
                    <div class="card-header">
                      <h3 class="card-title">users list</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tbl_list_users" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% users.forEach ((data)=>{ %>
                            <tr>
                               <td>
                                <%= data.name %>
                               </td>
                               <td>
                                <%= data.email %>
                               </td>
                               <td>
                                <%= data.mobile %>
                               </td>
                               <td>
                                <% if(data.status=='1'){ %>
                                  <button class="btn btn-success">Active</button>
                              <% }else{ %>
                                  <button class="btn btn-danger">Inactive</button>
                              <% }%>
                               </td>
                               <td class="d-flex">
                                 <a href="/admin/edit-user/<%= data.id %>" class="btn btn-primary mr-2"><i class="fa fa-edit"></i></a>
                                 <form method="post" action="/admin/delete-user/<%= data.id %>" id="frm-delete-user-<%= data.id %>">
                                     <input type="hidden" value="<%= data.id %>" name="user_id">
                                 </form>
                                 <a href="javascript:void(0)" onclick="if(confirm('are you sure you want to delete?')){
                                     $('#frm-delete-user-<%= data.id %>').submit()
                                 }" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                            </tr>
                         <% }) %>
                        </tbody>
                        <tfoot>
                            <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Status</th>
                            <th>Actions</th>
                            </tr>
                        </tfoot>
                      </table>
                    <!-- </div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
                    </div> -->
                    <!-- /.card-body -->
                  </div>
              </div>
            </div>
            <!-- /.container-fluid -->
          </section>
          <!-- /.content -->
        </div>
<%- include("../partials/footer") %>